.picker {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid;
	padding: 8px;
	border-radius: 8px;
}

.picker > * {
	margin: 4px;
}

.input {
	flex: 1;
	padding: 10px 12px;
	border-radius: 3px 0 0 3px;
	border: solid 1px grey;
	border-right: none;
	box-shadow: none;
	outline: none;
  }